<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="dateEditor" class="spring.property.DateEditor"/>


    <!--<bean id="dateEditor"-->
    <!--class="org.springframework.beans.propertyeditors.CustomDateEditor">-->
    <!--<constructor-arg>-->
    <!--<bean class="java.text.SimpleDateFormat">-->
    <!--<constructor-arg value="yyyy-MM-dd"/>-->
    <!--</bean>-->
    <!--</constructor-arg>-->
    <!--<constructor-arg value="true"/>-->
    <!--</bean>-->

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value="spring.property.DateEditor"/>
            </map>
        </property>
    </bean>

    <!--<bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">-->
    <!--<property name="customEditors">-->
    <!--<map>-->
    <!--<entry key="java.util.Date" value="spring.property.DateEditor"/>-->
    <!--</map>-->
    <!--</property>-->
    <!--</bean>-->

    <bean id="userMdoel" class="spring.model.User">
        <property name="name" value="某某某"/>
        <property name="created" value="2017-12-12"/>
    </bean>
</beans>